@font-face {
    font-family: "Black";
    src: url("../fonts/Roboto-Black.ttf");
}

@font-face {
    font-family: "BlackItalic";
    src: url("../fonts/Roboto-BlackItalic.ttf");
}

@font-face {
    font-family: "Bold";
    src: url("../fonts/Roboto-Bold.ttf");
}

@font-face {
    font-family: "BoldItalic";
    src: url("../fonts/Roboto-BoldItalic.ttf");
}

@font-face {
    font-family: "Italic";
    src: url("../fonts/Roboto-Italic.ttf");
}

@font-face {
    font-family: "Light";
    src: url("../fonts/Roboto-Light.ttf");
}

@font-face {
    font-family: "LightItalic";
    src: url("../fonts/Roboto-LightItalic.ttf");
}

@font-face {
    font-family: "Medium";
    src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
    font-family: "MediumItalic";
    src: url("../fonts/Roboto-MediumItalic.ttf");
}

@font-face {
    font-family: "Regular";
    src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
    font-family: "Thin";
    src: url("../fonts/Roboto-Thin.ttf");
}

@font-face {
    font-family: "Thin";
    src: url("../fonts/Roboto-ThinItalic.ttf");
}

.slide_back {
    opacity: 0;
    display: inline-block;
    position: fixed;
    bottom: 5%;
    right: -5%;
    width: 50px;
    height: 50px;
    background: url(../img/circle-up.svg) no-repeat;
    transition: all 500ms;
    cursor: pointer;
}

.slide_back.active {
    opacity: 1;
    right: 3%;
}

html,body {
    font-family: 'Light', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
}

h1,h2 {
    font-size:2.625rem;
    font-family:"Bold", sans-serif;
    text-align: center;
    padding:2.95rem 0 1.25rem 0;
    margin: 0;
}

.container {
    max-width: 1400px;
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
    overflow: hidden;
  /*  border-left: 1px solid red;
    border-right: 1px solid red;*/
}

.button {
    border: 1px solid #ffee07;
    padding: .5em 3em;
    border-radius: 2em;
    background: #ffee07;
    position: relative;
    font-size: 1rem;
    text-transform: uppercase;
    color: #2c2c2c;
    font-family: "Bold", sans-serif;
    display: inline-block;
    margin: .5rem 0 0 0;
    cursor: pointer;
    outline:none;
    transition: all 300ms;
}

.button:hover {
    background: #fff45c;
}

.head {
    background: #fff;
    position: fixed;
    z-index: 1111;
    width: 100vw;
    box-shadow: 0 2px 2px #d9e9f0;
    max-height: 100px;
}

nav .close_menu {
    display: none;
    width: 40px;
    height: 40px;
    position: relative;
    background: transparent;
    bottom: -9rem;
    border-radius: 31%;
    cursor: pointer;
    border: 1px solid #eee;
    transition: all 300ms;
}

nav .close_menu:before, nav .close_menu:after {
    display: block;
    position: absolute;
    width: 25px;
    height: 2px;
    top: 19px;
    left: 7px;
    content: '';
    background: #eee;
    transition: all 300ms;
}

nav .close_menu:before {
    transform: rotate(-45deg);
}

nav .close_menu:after {
    transform: rotate(45deg);
}

.close_menu.active{
    display: inline-block;
}

nav .close_menu:hover {
    background: #ffee07;
    border-color: #101010;
}

nav .close_menu:hover:before, nav .close_menu:hover:after {
    background: #101010;
}

.reverseBySize {
    display: flex;
}

.hamburger {
    display: none;
    width: 40px;
    height: 28px;
    cursor: pointer;
    margin: 1.5rem 0 0 2rem;
}

.hamburger span {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 2px;
    background: #000;
    transition: all 300ms;
}

.hamburger span:before, .hamburger span:after {
    display: block;
    position: absolute;
    width: 40px;
    height: 2px;
    content: '';
    background: #000000;
    transition: all 300ms;
}

.hamburger span:before {
    top: 8px;
}

.hamburger span:after {
    top:-8px;
}

.hamburger.active span {
    background: transparent;
}

.hamburger.active span:before {
    transform: rotate(45deg);
    top: 0;
}

.hamburger.active span:after {
    transform: rotate(-45deg);
    top: 0;
}

header {
    display: flex;
    justify-content: space-around;
}

.logo {
    max-width: 10em;
}

.logo img {
    max-width: 100%;
}

nav {
    display: flex;
    align-items:center;
}

nav ul {
    padding: 0;
    margin: 1rem 0 0 0;
    display: flex;
}

nav ul li {
    margin: 1em;
    list-style: none;
}
nav ul li a {
    color: #1b1b1c;
    text-decoration: none;
    font-family: "Regular", sans-serif;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: all 300ms;
}

header nav ul li a:hover, header nav ul li a.active{
    color: #fc0;
}

.general {
    position: relative;
    background: linear-gradient(#ebfffcd9, #f9ffd6);
}

.general_title_content h1 {
    color: #2aafd3;
    margin: -2rem 0 0 3rem;
    font-size: 3.5rem;
}


.general_screen {
    max-width: 100%;
    min-height: 36em;
    background: url(../img/generalBgTest4.png) no-repeat;
    background-size: contain;
    display: flex;
    background-position: 100% 0%;
    flex-wrap: wrap;
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 10rem 0 0 0;
}

.general_bunnton_and_price {
    display: none;
    align-items: center;
    position: absolute;
    padding: 0 1rem;
    top: 73%;
   /* left: 7%;*/
}

.but:before {
    position: absolute;
    content: '';
    display: block;
    width: 240px;
    left: 4.2rem;
    top: -9rem;
    height: 100px;
    background: url(../img/priceLogo2.png) no-repeat center / contain;
}

.but {
    padding: 1em 9em;
}

.general_title_content p {
    font-size: 2rem;
    font-style: italic;
    font-family: "regular", sans-serif;
    margin: 0 1rem;
}

.general_title_content span {
    display: block;
}

.general_title_content .pink {
    color: #DE519F;
    display: inline;
}

.general_title_content .green {
    color: green;
    display: inline;
}

.general_title_content .blue {
    color: #7FD0E5;
    display: inline;
}

.general_title_content .yellow {
    color: #DBD033;
    display: inline;
}

.general h2 {
    text-align: center;
    background: #f6fdff;
    margin: 0;
    padding: 2.5rem 0;
    font-size: 2rem;
    font-family: "bold", sans-serif;
    color: #505050;
}

.for_client {
    padding: .8rem 0 0 2rem;
}

.phone {
    position: relative;
    font-size: 1.3em;
    font-family: "Bold", sans-serif;
    color: #101010;
    padding: 0 0 0 3rem;
}

.phone p {
    margin: 0;
}

.phone:before {
    position: absolute;
    top: -6px;
    left: 2px;
    content: '';
    display: inline-block;
    width: 37px;
    height: 37px;
    background: url(../img/phone.svg);
    background-size: cover;
}

.order span {
    margin: 1rem 0 0 0;
 }

.about_watch_container {
    padding: 0 0 3rem 0;
}

.section_slogan {
    background: #ffefff;
}

.slogan {
    text-align: center;
    padding: 4rem;
    font-style: italic;
    text-transform: uppercase;
    font-family: "Bold", sans-serif;
    color: #8cb0d2;
}

.video_container {
    padding: 0 0 3rem 0;
}

video {
    width: 100%;
}

.reviews {
    background: #fff;
}

.error-input{
    border: 1px solid #ff5858 !important;
}

.reviews_container {
    display: none;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.review_cont {
    margin: 1rem 0 3rem 0;
}

.review_cont .review:nth-child(2n) {
    flex-direction: row-reverse;
}

.review {
    display: flex;
}
.reviews_images {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0 0 2rem 0;
}


.reviews_images img {
    width: 60%;
    border-radius: 50%;
}

.reviews_descriptions {
    flex-basis: 50%;
    padding: 0 2rem;
    font-size: 1.3rem;
    display: flex;
    vertical-align: middle;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.reviews_descriptions p {
    margin: 0;
}


.reviews_container:nth-child(2n) {
    flex-direction:row-reverse;
}

.reviews_descriptions p:nth-child(2) {
    font-family: "Bold", sans-serif;
    margin-bottom: .1rem;
    margin-top: 1rem;
}

.reviews_descriptions p:nth-child(3) {
    font-style: italic;
    margin-top: .1rem;
    font-size: .8rem;
}




/*todo  slider rewiew*/

section#reviewsSlider {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.rewiewSliderContainer {
    /*padding: 3rem 0;*/
    position: relative;
    background: #fafeff;
    display: flex;
    width: 90%;
    margin: 0 auto;
}

.rewiewSliderContainer .sliderActiveArea {
    display: flex;
    position: relative;
    border-bottom: 2px solid #faff47;
    background: #fafeff;
    width: 100%;
    overflow: hidden;
    padding: 4rem 0;
}

.rewiewSliderContainer .sliderContent {
    display: inline-flex;
    position: relative;
}

.rewiewSliderContainer .review {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 33.3%;
}

/*.rewiewSliderContainer .reviews_images {
    width: 350px;
    max-width: 350px;
}*/


.rewiewSliderContainer .reviews_descriptions {
    padding: 0 1rem;
    font-size: 1rem;
    display: flex;
    vertical-align: middle;
    justify-content: flex-start;
    flex-direction: column;
}

.leftSlideReview, .rightSlideReview, .leftSlidePhoto, .rightSlidePhoto {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../img/back.svg) no-repeat;
    top: calc( 50% - 25px);
    opacity: .3;
    cursor: pointer;
    transition: opacity 300ms;
}

.leftSlideReview {
    left: 0;
}

.rightSlideReview {
    right: 0;
    transform: rotate(180deg);
}

.leftSlidePhoto {
    left: 3rem;
    z-index: 333;
}

.rightSlidePhoto {
    z-index: 333;
    transform: rotate(180deg);
    right: 3rem;
}

.leftSlidePhoto:hover, .rightSlidePhoto:hover, .leftSlideReview:hover, .rightSlideReview:hover, .leftSlideSertification:hover, .rightSlideSertification:hover {
    opacity: .7;
}


    /*todo end slider rewiew*/


svg#icon {
    fill: #0f73ee;
    width: 75px;
    height: 75px;
}

.feedback_container h2 {
    font-family: "Light", sans-serif;
    font-weight: 100;
    font-size: 2.1rem;
}

.feedback_container h2 > span {
    display: block;
}

.feedback_container h2 .bold {
    font-family: "regular", sans-serif;
    display: inline;
}

span.feedback_button {
    border: 1px solid #fff021;
    padding: 1em 4.5em;
    border-radius: 2em;
    background: #fff021;
    color: #101010;
    font-weight: 900;
    cursor: pointer;
    margin: 3rem 0 1rem 0;
}

section#descr {
    padding: 0 0 4rem 0;
}


.photo_descr {
    display: flex;
    flex-direction: column;
}

.slider_photo {
    position: relative;
    box-sizing: border-box;
    width: 50%;
    text-align: center;
    display: flex;
    align-items: center;
}

.description_smart {
    width: 50%;
}

.sliderPhotoActiveArea {
    overflow: hidden;
    position: relative;
}

.descr_container {
    display: flex;
    justify-content: space-around;
    margin: 3em 0 0 0;
}

.sliderPhotoContent {
    display: inline-flex;
    position: relative;
}

.item > img {
    max-width: 60%;
}

.description_smart h3{
    font-size: 1.5rem;
}

.description_smart > p {
    font-size: .9rem;
    margin: .7em 0;
}

.description_smart  p > span {
    font-family: "Bold", sans-serif;
}

.description_smart .all_price {
    color: rgb(64, 176, 207);
}

.description_smart .old_price {
    color: rgb(235, 77, 151);
    text-decoration: line-through;
}

.description_smart .new_price {
    color: rgb(235, 77, 151);
}

.about_watch {
    background: #ff7cf91f;
}

.about_descriptions {
    padding: 0 3.5rem;
}

dt {
    padding: 0 0 0 1em;
    position: relative;
    font-family:"Regular", sans-serif;
}

dt::before {
    display: block;
    position: absolute;
    content: "";
    left: -.8em;
    background: url(../img/ok.png) no-repeat;
    background-size: cover;
    width: 1.5em;
    height: 1.5em;
    top: -.4em;
}

dd {
    margin: 0  0 1em 1.5em;
}

.pay_and_ship {
    display: flex;
    flex-direction: column;
    align-items:center;
    background: #fff;
    border-bottom: 1px solid #eee;
    padding-bottom: 2rem;
}

.pay_and_ship p > span {
    font-family: "bold", sans-serif;
}

.payment_and_shipping {
    display: flex;
}

.working_time, .free_shipping, .payment_methods {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    flex-basis: 33.3%;
}

.pay_and_ship p {
    margin: .2rem 0;
    font-size: 1rem;
}

.working_time  p:nth-child(2), .free_shipping  p:nth-child(2), .payment_methods p:nth-child(2) {
    font-family:"Bold", sans-serif;
    margin: 0 0 .8rem 0;
}

.free_shipping > div {
    margin: 1.5rem 0 0 0;
}

.free_shipping > div > p:nth-child(2) {
    font-family: "Light", sans-serif;
}

.achievements {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.our_achievements {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 2rem 0;
    border-bottom: 1px solid #eee;
}

.our_achievements p {
    font-size:.9rem;
}

p.achievements_count {
    font-size: 2rem;
    font-family: "Regular", sans-serif;
    margin: 0;
}

.years_on_the_market, .orders_per_day, .feedback {
    display: flex;
    width: 33.3%;
    flex-direction: column;
    text-align: center;
}

.feedback_hidden_block {
    opacity: 0;
    z-index:-222;
    transition: opacity 300ms;
}

.feedback_hidden_block.active {
    position: fixed;
    background: rgba(0, 0, 0, .5);
    z-index: 99999;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    cursor: pointer;
    display: block;
    opacity: 1;
}

.close_hidden_block {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: -5%;
    right: -4%;
    cursor: pointer;
}

.close_hidden_block:before, .close_hidden_block:after {
    position: absolute;
    content: '';
    background: #fff;
    width: 25px;
    height: 3px;
    top: 8px;
    left: -3px;
    transition: all 300ms;
}

.close_hidden_block:hover:before, .close_hidden_block:hover:after {
    background-color: #ddd;
}


.close_hidden_block:before {
    transform: rotate(45deg);
}

.close_hidden_block:after {
    transform: rotate(-45deg);
}

.form_container {
    background: #fff;
    display: flex;
    position: relative;
    padding: 2rem;
    width: 50%;
    top: 2%;
    margin: 2.5rem auto;
    box-shadow: 0 3px 9px rgba(0,0,0,.2);
    border-radius: 5px;
}

.feedback_hidden_image {
    flex-basis: 50%;
    background: url(../img/watch_form.jpg) no-repeat 59% 52%;
    background-size: 114%;
}

button.button.send {
    color: #fff;
}

.feedback_hidden_form {
    flex-basis: 50%;
}

.feedback_hidden_form form {
    display: flex;
    flex-direction: column;
}

.feedback_hidden_form form input {
    width: 92%;
    border-radius: 4px;
    border: 1px solid #ddd;
    font-size: 1rem;
    outline: none;
    padding: .7rem 1rem;
    margin: .2rem 0;
}

span.inform_f {
    font-size: .8rem;
    text-align: center;
    margin: 0.7rem 0 0 0;
    color: #b3b3b3;
}

.feedback_hidden_form form h3 {
    font-size: 1.3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.feedback_hidden_form form label {
    font-size: 1rem;
    font-family: "Regular", sans-serif;
    margin: .3rem;
}

.feedback_bg {
    background: #FFE5E5;
}

.feedback_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0 2rem 0;
}

section#hidden_block {
    position: relative;
}

.form_container {
    left: 0;
    right: 0;
    width: 50%;
    top: 20%;
    position: absolute;
    z-index:-222;
    opacity: 0;
    transition: all 300ms;
}

.form_container.active {
    z-index: 99999;
    opacity:1;
}



.showMessage {
    position: absolute;
    z-index: -2;
    background: #cdffb2f0;
    top: 100px;
    left: 37%;
    padding: 3rem;
    /*white-space: nowrap;*/
    border-radius: 4px;
    justify-content: center;
    align-items:center;
    text-align: center;
    font-size: 1.5rem;
    color: #5a5a5a;
    display: flex;
    width: 25%;
    margin: 2.5rem auto;
    box-shadow: 0 3px 9px rgba(0,0,0,.2);
    transition: all 300ms;
    opacity: 0;
}

.showMessage.active{
    opacity: 1;
    z-index: 999999;
}

.showMessage .close_hidden_block {
    position: absolute;
    display: block;
    width: 20px;
    height: 20px;
    top: 4%;
    right: 1%;
    cursor: pointer;
}

.showMessage .close_hidden_block:before, .showMessage .close_hidden_block:after {
    background: #5a5a5a;
}


section#sertification {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*.sertificationContainer {
    padding: 3rem 0;
    position: relative;
    background: #fafeff;
    width: 200px;
    margin: 0 auto;
}*/

/*.sliderActiveArea {
    display: flex;
    position: relative;
    border-bottom: 2px solid #faff47;
    background: #fafeff;
    width: 200px;
    overflow: hidden;
}*/
/*
.rightSlideSertification, .leftSlideSertification {
    position: absolute;
    width: 50px;
    height: 50px;
    background: url(../img/back.svg) no-repeat;
    top:calc( 50% - 25px);
    opacity: .1;
    cursor: pointer;
    transition: opacity 300ms;
}*/
/*
.leftSlideSertification {
    left: -4rem;
}

.rightSlideSertification {
    right: -4rem;
    transform: rotate(180deg);
}*/
/*

.sliderActiveArea .sliderContent {
    display: block;
    text-align: center;
}

.sliderActiveArea img {
    max-width: 400px;
    margin: 1rem;
    border: 1px solid #ff0000;
}
*/

.sertificationContainer {
    display: flex;
    justify-content: center;
}

.sertificateBlock {
    width: 30%;
    margin: 0 1rem;
    cursor: pointer;
}

.sertificateBlock img {
    max-width: 100%;
}


.sliderContent, .sliderContentRewiew{
    display: inline-flex;
    position: relative;
}

.sliderRewiewContent {
    display: flex;
    justify-content: center;
}


.darkBg {
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.8);
    width: 100vw;
    height: 100vh;
}

.darkBg img {
    position: relative;
    display: block;
    height: 80vh;
    top: calc(50% - 36vh);
    margin: 1.5rem auto;
}

.darkBg .closePopUp {
    position: fixed;
    top: calc(100px + 1rem);
    height: 30px;
    width: 30px;
    right: 1rem;
    cursor: pointer;
}


.darkBg .closePopUp:before, .darkBg .closePopUp:after {
    position: absolute;
    display: inline-block;
    content: '';
    width: 100%;
    height: 3px;
    background: #fff;
    top: 32px;

}

.darkBg .closePopUp:before {
    transform: rotate(45deg);
}

.darkBg .closePopUp:after {
    transform: rotate(-45deg);
}



/* large */
@media screen and (max-width: 1400px) {
    .form_container {
        width: 50%;
        top: 13%;
    }

    .showMessage {
        left: 0;
        right: 0;
        min-width: 200px;
    }
}


/* Portrait tablets and medium desktops */
@media screen and (max-width: 1199px) {

    header nav {
        display: none;
        position: fixed;
        background: rgba(0, 0, 0, .89);
        z-index: 888;
        margin: -1rem 0;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        align-items: center;
        justify-content: center;
    }

    header nav.mobile {
        display: flex;
    }

    header nav ul {
        padding: 0;
        position: absolute;
        margin: 0;
        display: block;
        top: 2rem;
        text-align: center;
    }

    header nav ul li {
        margin: 1.3em;
    }

    header nav ul li a {
        color: #eee;
        font-size: 1.1rem;
    }

   /* .for_client {
        padding: 1.5rem 0 0 2rem;
    }
*/
    .hamburger {
        display: block;
        margin: 3rem 0 0 2rem;
    }

    .general_bunnton_and_price {
        top: 75%;
    }

    .but:before {
        left: 4rem;
        top: -9rem;
    }

    .form_container {
        width: 65%;
        top: 7%;
    }

    .general_title_content span {
        display: inline;
    }

    h1, h2 {
        font-size: 2.625rem;
        font-family: "Bold", sans-serif;
        text-align: center;
        padding: .5rem 0;
        margin: 0;
    }

    .general_title_content h1 {
        color: #2aafd3;
        margin: -4rem 0 0 3rem;
        font-size: 3.5rem;
    }




}

/* Portrait tablets and small desktops */
@media screen and (max-width: 991px) {

    .form_container {
        width: 79%;
        top: 7%;
    }

    .rightSlidePhoto {
        right: 1rem;
    }

    .leftSlidePhoto {
        left: 1rem;
    }

    .general_screen {
        background-size: cover;
    }

}

/* Landscape phones and portrait tablets */
@media screen and (max-width: 767px) {

    .reviews_container {
        display: flex;
    }

    .slider_photo {
        width: 100%;
    }

    .general_title_content {
        display: flex;
        flex-direction: column;
        flex-basis: 100%;
        width: 100%;
    }

    .general_title_content h1 {
        color: #2aafd3;
        text-align: center;
        justify-content: center;
        font-size: 2.5rem;
        background: #81d9eff2;
        align-items: center;
        margin: -4rem 0 0 0;
    }




    .general_title_content span {
        display: inline;
    }

    .but {
        padding: 1em 7em;
    }

    .but:before {
        top: 4rem;
        left: 12%;
    }

    .general_title_content span {

        text-shadow: 1px 1px 1px #fff;
    }

    .general_title_content p {
        text-align: center;
        text-shadow: 0 1px 0 #fff;
        padding: 1rem;
        color: #000000;
    }

    .general_bunnton_and_price {
        top: 70%;
        justify-content: center;
        left: 0;
        right: 0;
    }

    .logo {
        margin-top: 1rem;
        max-width: 8em;
    }

    .phone {
        position: relative;
        font-size: 1.2rem;
    }

    .but_head {
        font-size: .9rem;
    }

    .descr_container {
        flex-direction: column;
    }

    .slider_photo {
        text-align: center;
    }

    .slider_photo img {
        max-width: 100%;
    }

    .description_smart {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .photo_descr h3 {
        font-family: "Bold", sans-serif;
        text-align: center;
        padding: 2.95rem 0 1.25rem 0;
        margin: 0;
        font-size: 2.3rem;
    }



    .description_smart > div {
        padding: 0 .3rem;
        width: 100%;
        padding-left: 4.6rem;
    }

    .payment_and_shipping {
        flex-direction: column;
    }

    .working_time, .free_shipping, .payment_methods {
        flex-basis: 100%;
        padding: 2rem 0 0 0;
    }

    .our_achievements {
        flex-direction: column;
    }

    .years_on_the_market, .orders_per_day, .feedback {
        width: 100%;
    }

    .review_cont .review:nth-child(2n) {
        flex-direction: column;
    }

    section#reviewsSlider {
        display: none;
    }

    .review {
        flex-direction: column;
        margin: 2rem 1rem;
        border-bottom: 1px solid #fc0;
    }

    .reviews_images {
        flex-basis: 100%;
        text-align: center;
    }

    .reviews_images img {
        width: 35%;
        border-radius: 50%;
    }

    .reviews_descriptions {
        flex-basis: 50%;
        font-size: 1rem;
        padding: 0 3rem;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

    }

    .hamburger {
        display: block;
        margin: 3rem .5rem 0 2rem;
    }

    .feedback_hidden_form {
        flex-basis: 55%;
    }
    .feedback_hidden_image {
        flex-basis: 45%;
    }

    .showMessage {
        left: 0;
        right: 0;
        text-align: center;
        white-space: normal;
    }


}

@media screen and (max-width: 687px) {

    .feedback_hidden_image {
        display: none;
    }

    .feedback_hidden_form {
        flex-basis: 100%;
    }

    .showMessage {
        left: 0;
        right: 0;
        min-width: 200px;
    }

    .slider_photo img {
        max-width: 80%;
    }

    .reviews_descriptions {
        font-size: 1.1rem;
    }

    .general_screen {
        background: url(../img/generalSmallScreen.png) no-repeat center;
        background-size: cover;
        margin: 6rem 0 0 0;
    }

    h1, h2 {

        font-family: "Bold", sans-serif;
        text-align: center;
        padding: .5rem 0;

    }

    .general_title_content h1 {
        color: #3bb6d7;
        margin: 0;
        font-size: 2.5rem;
        background: #b3e9ed;
        box-shadow: 1px 2px #a1a1a1;
    }

    .general_title_content span {
        text-shadow: 1px 1px 1px #fff;
    }

    .general_title_content span {
        display: inline;
    }






}

/* Landscape phones and smaller */
@media screen and (max-width: 480px) {

    .reverseBySize {
        flex-direction: row-reverse;
    }

    .logo {
        text-align: center;
    }

    .logo img {
        max-width: 75%;
    }

    .but_head {
        font-size: .9rem;
        padding: .5em 1.5em;
        margin: .5rem 0 0 .4rem;
    }

    .phone {
        position: relative;
        font-size: .9rem;
    }

    header {
        justify-content: space-between;
    }

    h1, h2 {
        padding: 0;
    }

    header {
        align-items: center;
    }

    .for_client {
        padding: .5rem .5rem .5rem 1rem;
    }

    .hamburger {
        margin: 2rem 0 0 0;
    }

    .our_achievements p {
        font-size: .9rem;
        padding: 0 1rem;
    }

    .our_achievements p {
        font-size: 1rem;
        padding: 0 1rem;
    }

    .general_title_content p {
        display: none;
    }

    .general_bunnton_and_price {
        top: 62%;
    }

    .description_smart > div {
        padding: 0 1rem;
    }

    p.achievements_count {
        font-size: 1.4rem;
    }

    .years_on_the_market p.icon {
        margin-left: .4rem;
    }

    .close_hidden_block {
        top: 1.5%;
        right: 1%;
    }

    .close_hidden_block:before, .close_hidden_block:after {
        background: #151515;
    }

    .showMessage {
        left: 0;
        right: 0;
    }

    .slider_photo img {
        max-width: 70%;
    }

    .leftSlidePhoto {
        left: 0;
    }

    .rightSlidePhoto {
        right: 0;
    }

    .reviews_images img {
        width: 60%;
    }

    .reviews_descriptions {
        padding: 0 1rem;
        font-size: 1rem;
    }

    .general_screen {
        background-position: 36% 22%;
    }

    .general_title_content h1 {
        font-size: 1.8rem;
    }


}

@media screen and (max-width: 420px) {


    .button {
        text-align: center;
    }

    .but {
        padding: 1em 6em;
    }

    .but:before {
        top: -6rem;
        left: 6%;
    }

    .reviews_descriptions {
        padding: 0;
        font-size: 1rem;
    }

    /*span.button.feedback_button {
        padding: .5rem;
    }*/
}


@media screen and (max-width: 377px) {

    .button.order.but_head {
        font-size: .7rem;
        padding: .5em 2em;
    }

    .phone:before {
        top: -6px;
        left: 18px;
        width: 25px;
        height: 25px;
    }

    .phone {
        position: relative;
        font-size: .8rem;
        margin: 0 0 0 -.9rem;
    }

}

    /* smaller */
@media screen and (max-width: 350px) {

    .form_container {
        top: -4%;
    }

    .showMessage {
        left: 0;
        right: 0;
        min-width: 150px;
    }

    .but:before {
        top: -6rem;
        left: 6%;
    }

    .about_descriptions {
        padding: 0 1.5rem;
    }

    .slider_photo img {
        max-width: 70%;
    }

    .reviews_images img {
        width: 80%;
    }

    .reviews_descriptions {
        padding: 0;
        font-size: 1rem;
    }




}
